<!-- ç¬¬äºŒæ­¥: å®šä¹‰ html æ¨¡æ¿ -->
<%- include('../template/top.ejs')' %>

<!-- ðŸ‘‡title å˜é‡ç”± router å†…çš„ render å†…çš„å˜é‡æä¾› -->
<h1><%= title %></h1>

<%- include('../template/bottom.ejs')' %>