<div>
	<!-- ⚡️提交表单的入口 -->
	<p>
		<input type="text" placeholder="Brand" id="brand"/>
	</p>
	<p>
		<input type="text" placeholder="Brand" id="model"/>
	</p>
	<p>
		<input type="text" placeholder="Brand" id="price"/>
	</p>
	<p>
		<input type="text" placeholder="Brand" id="spec"/>
	</p>
	<button id="addBtn">Add</button>
</div>